body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #52cef7, #ffaae5);
    color: #333;
}

header {
    background: linear-gradient(to right, #52cef7, #ffaae5);
    padding-top: 20px;
    text-align: center;
    font-family: Oswald;
    text-shadow: 2px 2px #000000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
  
h1 {
    font-family: Lobster;
    color: white;
}

h2 {
    font-family: Lobster;
}

h3 {
    font-family: Oswald;
    color: white;
    text-align: center;
}

h4 {
    font-family: Oswald;
    color: white;
    text-align: center;
}

p {
    text-align: center;
}

.ul {
    column-count: 5;
}

.ul2Col {
    column-count: 2;
    margin-top: -50px;
}

span {
    position: absolute;
    left: 20px;
}

.card {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invertedCard {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carouselContainer {
    margin: 40px auto;
    border: 2px;
    border-radius:  10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carouselCard { 
    padding: 10px;
}

.githubCard {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.Oswald {
    font-family: Oswald;
}

.large {
    font-size: 32px;
    font-family: Oswald;
    color: white;
}

.white {
    color: white;
}

.whiteOswald {
    color: white;
    text-align: center;
    font-family: Oswald;
}


.whiteCenter {
    color: white;
    text-align: center;
}

.footer {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    font-family: Oswald;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100px;
    line-height: 100px;
}

.footerLink:hover {
    color: rgba(255, 255, 255, 0.3);
}

a {
    color: black;
    padding-inline: 20px;
    font-family: Oswald;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.resumeContainer {
    display: inline;
}

.document {
    border-radius: 10px;
}

.container {
    display: flex;
}

.Qlcolumn {
    width: 30%;
    padding: 20px;
}

.Qrcolumn {
    flex: 1;
    padding: 20px;
    color: white;
    font-size: 22px;
    font-family: Oswald;
}

.grid {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: auto auto;
  margin: 40px 10px;
  text-align: center;
}

.gridBlock {
    display: block;
    padding: 10px;
    margin: auto;
    width: 70%;
}

.gridImage {
    width: 100%;
    height: fit-content; 
    border-radius: 20px;
}

.gridText {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Oswald; 
    font-size: 18px;
}

.gridLink {
    color: #0073ff;
}

.QLink {
    color: #0073ff;
    text-align: left;
    margin-left: -20px;
}

@font-face {
    font-family: Lobster;
    src: url(../Fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family: Oswald;
    src: url(../Fonts/Oswald.ttf);
}
