/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  display: inline-block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #f2f2f2;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: red;
  color: white;
}

#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */
 }

#floatLeft  {
float: left;    
 margin: 0px 15px 0px 0px;
}

#floatRight  {
float: right;    
 margin: 0px 15px 0px 0px;
}

.fadeIn {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}